
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
}

#top{
    margin-bottom: 5%;
}

h1{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom : 5px;
}

p{
    margin: 5px 0px;
}

.button{
    background-color: rgb(0, 58, 124);
    border: none;
    color: white;
    padding: 35px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.vLineL{
    border-right: 5px solid rgb(0, 58, 124);
    height: 100px;
    position: relative;
    right: 50%;
    margin-left: -5px;
}

div.centerButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.fixedR {
    position: relative;
    padding: 1rem;
    width: 78%;
    border: 3px solid rgb(0, 58, 124);
    text-align: center;
    margin: 50px 0 px;
    margin-inline: 10%;
}
div.fixedL {
    position: relative;
    padding: 1rem;
    width: 78%;
    border: 3px solid rgb(0, 58, 124);
    text-align: center;
    margin: 10px 0px;
    margin-inline: 10%;
}
.scan-anzeige-1 {
    position: relative;
    visibility: hidden;
    width: 78%;
    border: 3px solid rgb(0, 58, 124);
    text-align: center;
    margin: 50px 0 px;
    margin-inline: 10%;
    margin-top: 10px;
}
.scan-anzeige-2 {
    position: relative;
    visibility: hidden;
    width: 78%;
    border: 3px solid rgb(0, 58, 124);
    text-align: center;
    margin-top: 10px;
    margin-inline: 10%;
}

div.personPage{
    position: relative;
    width:88%;
    border: 3px solid rgb(0, 58, 124);
    text-align: initial;
    margin-top:  10px;
    margin-inline: 6%
}


.outer{
    margin-top: 10px;
}

.fesLogo{
    height: 100%;
    float: right;
}


.topnav {
    overflow: overlay;
    background-color: #fff;
    height: 45px;
    padding: 4px;
}

.topnav h1 {
    float: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0px;
    margin-left: 40px;
    
}

.dropbtn {
  background-color: rgb(0, 58, 124);
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #005b97;
}

.dropdown {
  position: absolute;
  display: inline-block;
  margin-inline: 1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

form{
    margin: 1rem auto;
    padding: 1rem;
    width: 78%;
}

.formbox{
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}

label{
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
    font-weight: 300 ;
    color:black;
    text-align: right;

}
select,
input,
button,
option,
optgroup,
textarea{
    font-weight: 400;
    color: black;
    padding: 0.1rem 0.25rem;
    margin: 0 1rem 0 0;
}

.scanButton{
    padding: 0.5rem;
}

